{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" type="text/css" />

    <ul>
    {% for article in articles_page.object_list %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark" class="nodec"
                title="Permalink to {{ article.title|striptags }}">{{ article.title }}
            </a>
        <time class="single" datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%B %d, %Y") }}</time>
    </a>
    {% endfor %}
    </ul>

{% endblock %}
